# Database
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/dbname

# NextAuth
NEXTAUTH_URL=https://tegnogfarge.no
NEXTAUTH_SECRET=generer-med-openssl-rand-base64-32

# Sanity
NEXT_PUBLIC_SANITY_PROJECT_ID=fn0kjvlp
NEXT_PUBLIC_SANITY_DATASET=production
SANITY_DRAFT_MODE_SECRET=long-random-secret-string-for-draft-mode

# Resend
RESEND_API_KEY=re_aqjuLFCF_Png87x6ins7VHQxWFQ1ZXK3Q
EMAIL_FROM=noreply@tegnogfarge.no
EMAIL_FROM_NAME=Tegn og Farge

# Site
NEXT_PUBLIC_SITE_URL=https://tegnogfarge.no
NEXT_PUBLIC_BASE_URL=https://tegnogfarge.no 